<!DOCTYPE html>
<html>
<head>
<style>
#parties {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#parties td, #parties th {
  border: 1px solid #cccccc;
  padding: 4px;
}

#parties > tr > th {
    font-size: 15px;
}

#parties tr:nth-child(even){background-color: white;}

#parties tr:hover {background-color: #ddd;}

#parties th {
  text-align: left;
  background-color: #2196f3;
  color: white;
}
.tableData > td {
    font-size: 15px;
    padding: 2px
}
.header > th {
    font-size: 15px;
}

.lightBlue  {
  background-color: #afe8ff;
}

.text-red  {
  background-color: #ffff;
  color: #f32121;
  font-size: 15px !important;
  text-align: center !important;
  font-weight: bold;
}

.text-white {
  color:white;
  text-align: center;
}

.text-align-center {
  text-align: center;
}

</style>
</head>
<body>

<table id="parties">
  <tr class="header breakafter text-align-center">
    <th>Index</th>
    <th>Party Name</th>
    <th>Type</th>
    <th>Rate</th>
    <th>Diamond (weight)</th>
    <th>Payment Option</th>
    <th>Amount</th>
    <th>date</th>
    <th>More  Description</th>
  </tr>


  <% for(var i=0; i < allInvoiceData.length; i++) { %>
    <% var color = '#';
      for (var col = 0; col < 6; col++) {
          color += Math.floor(Math.random() * 10);
      }
    %>
      <tr class="tableData">
        <% if(i%2 ===0) { %>

          <td rowspan=<%= allInvoiceData[i].cuttingType.length + 1 %> style='text-align: center;'><%= i+1 %></td>
          <td rowspan=<%= allInvoiceData[i].cuttingType.length + 1 %> style='text-align: center;'> <%= allInvoiceData[i].partyName %> </td>
        <% } else { %>

          <td rowspan=<%= allInvoiceData[i].cuttingType.length + 1 %> style="background-color: <%= color %>; color: white" class="text-align-center"> <%= i+1 %></td>
          <td rowspan=<%= allInvoiceData[i].cuttingType.length + 1 %> style="background-color: <%= color %>; color: white" class="text-align-center"> <%= allInvoiceData[i].partyName %> </td>
        <% } %>
        <!-- Table row right side data start -->
        <% for(var j=0; j < allInvoiceData[i].cuttingType.length; j++) {
          
          if(j == 0) {
        %>
            <td  <% if(i%2 !== 0) { %> class="text-white"  style="background-color: <%= color %>;" <% } else if(j == allInvoiceData[i].cuttingType.length - 1) { %> class='text-red' <% } else { %> class='text-align-center' <% } %> ><%= allInvoiceData[i].cuttingType[j].key %></td>
            <td  <% if(i%2 !== 0) { %> class="text-white"  style="background-color: <%= color %>;" <% } else if(j == allInvoiceData[i].cuttingType.length - 1) { %> class='text-red' <% } else { %> class='text-align-center' <% } %> ><%= allInvoiceData[i].cuttingType[j].rate %></td>
            <td  <% if(i%2 !== 0) { %> class="text-white"  style="background-color: <%= color %>;" <% } else if(j == allInvoiceData[i].cuttingType.length - 1) { %> class='text-red' <% } else { %> class='text-align-center' <% } %> ><%= allInvoiceData[i].cuttingType[j].Diamonds %> (<%= allInvoiceData[i].cuttingType[j].weight %>)</td>
            <td  <% if(i%2 !== 0) { %> class="text-white"  style="background-color: <%= color %>;" <% } else if(j == allInvoiceData[i].cuttingType.length - 1) { %> class='text-red' <% } else { %> class='text-align-center' <% } %> ><%= allInvoiceData[i].cuttingType[j].payment %></td>
            <td  <% if(i%2 !== 0) { %> class="text-white"  style="background-color: <%= color %>;" <% } else if(j == allInvoiceData[i].cuttingType.length - 1) { %> class='text-red' <% } else { %> class='text-align-center' <% } %> ><%= allInvoiceData[i].cuttingType[j].Amount %></td>
            <td> </td>
            <td> </td>
        <% } %>

        <tr class="tableData">
          <% if(j !== 0) { %>
                <td  <% if(i%2 !== 0) { %> class="text-white"  style="background-color: <%= color %>;" <% } else if(j == allInvoiceData[i].cuttingType.length - 1) { %> class='text-red' <% } else { %> class='text-align-center' <% } %>><%= allInvoiceData[i].cuttingType[j].key %></td>
                <td  <% if(i%2 !== 0) { %> class="text-white"  style="background-color: <%= color %>;" <% } else if(j == allInvoiceData[i].cuttingType.length - 1) { %> class='text-red' <% } else { %> class='text-align-center' <% } %>><%= allInvoiceData[i].cuttingType[j].rate %></td>
                <td  <% if(i%2 !== 0) { %> class="text-white"  style="background-color: <%= color %>;" <% } else if(j == allInvoiceData[i].cuttingType.length - 1) { %> class='text-red' <% } else { %> class='text-align-center' <% } %>><%= allInvoiceData[i].cuttingType[j].Diamonds %> (<%= allInvoiceData[i].cuttingType[j].weight %>)</td>
                <td  <% if(i%2 !== 0) { %> class="text-white"  style="background-color: <%= color %>;" <% } else if(j == allInvoiceData[i].cuttingType.length - 1) { %> class='text-red' <% } else { %> class='text-align-center' <% } %>><%= allInvoiceData[i].cuttingType[j].payment %></td>
                <td  <% if(i%2 !== 0) { %> class="text-white"  style="background-color: <%= color %>;" <% } else if(j == allInvoiceData[i].cuttingType.length - 1) { %> class='text-red' <% } else { %> class='text-align-center' <% } %>><%= allInvoiceData[i].cuttingType[j].Amount %></td>
                <td> </td>
                <td> </td>
            <% } %>

        </tr>
    <% }
  } %>

  <tr class="header breakafter text-align-center">
    test
  </tr>
 
</table>

</body>
</html>